<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>CortexIO</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/external_css/w3/w3.css">
	<link rel="stylesheet" href="../static/external_css/font_awesome/css/font-awesome.min.css">
	<link rel='stylesheet' type='text/css' href='../static/css/index.css'>
	<link rel='stylesheet' type='text/css' href='../static/css/all_templates.css'>
	<link rel='stylesheet' type='text/css' href='../static/css/card.css'>
	<script src="../static/js/all_templates.js"></script>
	<script src="../static/js/index.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script>
		var apiURL = "{{api_url}}"
		var guiURL = "{{gui_url}}"
		getPageData();
	</script>


<style>

</style>
</head><body>

<!-- Sidebar -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/">Home</a>
</div>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<!-- Page Content -->
<div id="main">
	<button class="w3-button w3-xlarge" onclick="openNav()">☰</button>
	<div class="topnav">

		<div class="search-container">
			<img src="../static/gui_images/logo.png" alt="logo" style="max-width: 50%">
      		<input id="search" type="text" placeholder="Search.." name="search" onkeydown="enterSearch()">
  		</div>
	</div>

</div>

<div id="cards"></div>




<script>

</script>


</body></html>