<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CortexIO</title>

    <script>
        var userID = {{user_id}};
        var apiURL = "{{api_url}}";
    </script>>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/external_css/w3/w3.css">
    <link rel="stylesheet" href="../static/external_css/font_awesome/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' href='../static/css/user_page.css'>
    <link rel='stylesheet' type='text/css' href='../static/css/all_templates.css'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="../static/js/all_templates.js"></script>
    <script src="../static/js/user_page.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>

    </style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
  </script>
</head>

<body>
<!-- Sidebar -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/">Home</a>
</div>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<!-- Page Content -->
<div id="main">

    <button class="w3-button w3-xlarge" onclick="openNav()">☰</button>

    <div class="w3-content w3-display-container">
        <header><h1>COLOR IMAGE</h1></header>
                <div id="color_image_slide" class="w3-display-container myColorImageSlides center"> </div>


        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

    </div>



    <div class="w3-content w3-display-container">
        <header><h1>DEPTH IMAGE</h1></header>

        <div id="depth_image_slide" class="w3-display-container myColorImageSlides center"> </div>

        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

        </div>

    <div id="line_top_x"></div>

</div>

<script>
$(document).ready(function(){
    google.charts.load('current', {'packages':['line']});
    google.charts.setOnLoadCallback(function(){
        console.log("yahaavvvvv")
        drawChart();
        }
    );
    showImages();
});



</script>

</body>
</html>